{% extends "blog_post/parent.html" %}
{% block title %}Categorised Posts{% endblock title %}
{% block main %}
 
<div class="container m-5">
<div class="row">
    <div class="col-lg-10">
        <h1 class="mb-5"><u>Categorised Posts</u></h1>
        {% if c_post %}
        {% for post in c_post %}
        <div class="col">
            <h3>Title: {{post.title}}</h3>
            <h5>Category: {{post.category}}</h5>
            <p><a href="{% url "post_detail" post.slug %}" target="_blank">Read More..</a></p>
        </div>
        {% endfor %}
        {% else %}
        <div class="col">
            <h3>No Related Posts</h3>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock main %}