{% extends "blog_post/parent.html" %}
{% block title %}Password Reset Confirm{% endblock title %}
{% block main %}
<div class="container my-5">
    <h3>Password Reset Confirm Form</h3>
    {% if form %}
    <form method="post" novalidate>
        {% csrf_token %}
        {{form.non_field_errors}}
        {% for field in form %}
        {{field.label_tag}}{{field}}{{field.errors}}<br>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-warning w-25 text-center">
    </form><br><br>
    {% else %}
    Wrong Url 
    {% endif %}
</div>
{% endblock main %}