{% extends "blog_post/parent.html" %}
{% block title %}User Password Change{% endblock title %}
{% block main %}
<div class="container my-5">
    <h3>Change Password Form</h3>
    <form method="post" novalidate>
        {% csrf_token %}
        {{form.non_field_errors}}
        {% for field in form %}
        {{field.label_tag}}{{field}}{{field.errors}}<br>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-warning w-25 text-center">
    </form><br><br>
{% endblock main %}